# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/

*.log

*.pot

*.pyc

__pycache__/
*.py[cod]
*$py.class
*.pyc

### Django ###
*.log
*.pot
*.pyc
local_settings.py

.env
db.sqlite3